/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* root styles */
:root{
    --Colour-1: hsl(0, 0%, 17%);
    --Colour-2: hsl(0, 0%, 59%);
    --Colour-3: #fff;
    --Colour-4: black;
    --Colour-Error: yellow;

    --Font-textinput: 18px;

    --Font-Family: "Rubik", sans-serif;
    --Font-size-L: clamp(1.728rem,5vw,2.986rem);
    --Font-size-M: clamp(1.2rem,5vw,1.44rem);
    --Font-size-S: clamp(0.833rem,5vw,1.2rem);

    font-family: var(--Font-Family);
    
}
/* universal reset */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}

/* background image top section */
.top-background{
    background-image: url(./images/pattern-bg-mobile.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:375px){
    /* background image top section on bigger screens */
    .top-background{
        background-image: url(./images/pattern-bg-desktop.png);
        background-size: cover;
    }
}

/* title */
.title{
    color: var(--Colour-3);
    padding: 2rem 0 1rem 0;
    font-size: var(--Font-size-L);
}

/* ip - input */
.ip-input-container{
    padding: 1rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 550px;
}
.ip-input-second-container{
    display: flex;
}
.ip-input{
    border-radius: 10px 0 0 10px;
    padding: 0.8rem;
    width: 98%;
    font-size: var(--Font-size-S);
}
.ip-input-btn{
    background-color: var(--Colour-4) ;
    padding: 0.8rem 0.8rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.ip-input-btn:hover{
    background-color: var(--Colour-2);
}
.error-message{
    color: var(--Colour-Error);
    display: none;
}
.visible{
    display: block !important;
}

/*  output element */
.output{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--Colour-3);
    position:absolute;
    top: 13em;
    padding: 2rem;
    width: fit-content;
    z-index: 10000;
    margin: 0 1rem 0 1rem
}
.output-container{
    text-align: center;
    /* width: fit-content; */
    padding: 0 1rem 1rem 1rem ;
}
.output-title{
    color: var(--Colour-2);
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1125rem;
    padding: 0 0 0.25rem 0;
}
@media screen and (min-width: 1024px) {
    .output{
        flex-direction: row;
        gap: 4rem;
        justify-content: center;
        max-width: 2000px;
        /* width: 90%; */
    }
    .output-container{
        padding: 1rem 1rem 1rem 1rem;
    }
    .output-divider{
        border: 1px solid var(--Colour-2);
        opacity: 0.5;
        height: 6rem;
        position: relative;
        width: 1px;
        margin-top: 1.5%;
    }
    
}

/* Map */
#map{
    height: 75vh;
    width: 100%;
}
@media screen and (min-width: 1440px) {
    #map{
        height: 90vh;
    }
}



/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}